result
result/
artworks/
references/
build/
phosphor
phosphor-tui
*.ini
*.ans
*.xb
*.jpg
*.png
*.phos
!dist/**
i18n_validate
palette_validate
phosphor_mp_lab
phosphor_tests
phosphor_canvas_bridge_tests
phosphor_p2p_smoke